<div class="filter-toogle">
  <mat-slide-toggle [(ngModel)]="advancedFilter" color="primary">
    Advanced filter
  </mat-slide-toggle>
</div>
<div class="title-area">
  FLOWS
</div>
<div class="loader" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!loading">
  <div  *ngIf="!advancedFilter">
    <form [formGroup]="globalFilterForm" class="filter-area" (ngSubmit)="refreshFlow()">
      <button mat-icon-button class="search-button" color="primary" type="submit">
        <mat-icon>search</mat-icon>
      </button>
      <div class="form-part">
        <mat-form-field class="input-area" appearance="outline">
          <mat-label>Filter</mat-label>
          <input matInput type="text" formControlName="valueFilter">
        </mat-form-field>
        <div class="check-area">
          <span>Apply filter to :</span>
          <mat-checkbox color="primary" formControlName="nameCheck">Name</mat-checkbox>
          <mat-checkbox color="primary" formControlName="descriptionCheck">Description</mat-checkbox>
          <mat-checkbox color="primary" formControlName="technologieCheck">Technologie</mat-checkbox>
          <mat-checkbox color="primary" formControlName="sourceAppCheck">Source App'</mat-checkbox>
          <mat-checkbox color="primary" formControlName="targetAppCheck">Target App'</mat-checkbox>
        </div>
      </div>
    </form>
  </div>
  <div class="advanced-filter-area" *ngIf="advancedFilter">
    <form [formGroup]="filterForm" (ngSubmit)="refreshFlow()">
      <button mat-icon-button class="search-button" color="primary" type="submit">
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field appearance="outline">
        <mat-label>Name Filter</mat-label>
        <input matInput type="text" formControlName="nameFilter">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description Filter</mat-label>
        <input matInput type="text" formControlName="descriptionFilter">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Technologie Filter</mat-label>
        <input matInput type="text" formControlName="technologieFilter">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Source Filter</mat-label>
        <mat-select formControlName="sourceApp">
          <mat-option [value]="">-</mat-option>
          <mat-option *ngFor="let app of applications" [value]="app.name">
            {{app.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Target Filter</mat-label>
        <mat-select formControlName="targetApp" (ngModelChange)="refreshFlow()">
          <mat-option [value]="">-</mat-option>
          <mat-option *ngFor="let app of applications" [value]="app.name">
            {{app.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="table-area">
    <div *ngIf="flows.results && !flows.results.length" class="no-data"><h1>No datas to show </h1> <mat-icon class="bad-icon">sentiment_very_dissatisfied</mat-icon></div>
    <div class="table-container" *ngIf="flows.results && flows.results.length">
      <table mat-table
             [dataSource]="dataSources" matSort multiTemplateDataRows
             class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase}}</th>
          <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="details">
                <div class="app-details">
                <span>{{element.sourceApp.name}}</span>
                <mat-icon color="primary">label_important</mat-icon>
                <span>{{element.targetApp.name}}</span>
              </div>
                <div>
                  <h3>Technologies</h3>
                  <mat-chip-list class="techno-list">
                    <mat-chip *ngFor="let techno of element.technologies.split(',')" color="primary" selected>
                      {{techno}}
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
              <div class="action-detail">
                <button mat-raised-button class="update-button" (click)="update(element)">
                  <mat-icon>edit</mat-icon>
                  Edit
                </button>
                <button mat-raised-button class="delete-button" (click)="delete(element)">
                  <mat-icon>delete</mat-icon>
                  Delete
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = element">
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      </table>
    </div>
  </div>
  <div class="actions-area" *ngIf="!loading">
    <button mat-raised-button color="primary" (click)="add()">
      <mat-icon>add_circle_outline</mat-icon>
      Add flow
    </button>
    <mat-paginator [length]="flows.total"
                   [pageSize]="flows.pageTotal"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginatorEvent($event)"
                   *ngIf="!loading">
    </mat-paginator>
  </div>
</div>
