<div class="title-area">
  APPLICATIONS
</div>
<div class="container">
  <div class="filter-area">
    <mat-card>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-card>
  </div>
  <div class="table-area">
    <div class="table-container">
      <table mat-table
             [dataSource]="dataSources" matSort multiTemplateDataRows
             class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase}}</th>
          <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div *ngFor="let techno of element.technologies.split(',')">
                {{techno}}
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="delete(element)">DELETE</button>
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="update(element)">UPDATE</button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = element">
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      </table>
    </div>
  </div>
  <div class="actions-area">
      <button mat-raised-button color="primary" (click)="add()">ADD APPLICATION</button>
      <mat-paginator [length]="applications.total"
                     [pageSize]="applications.pageTotal"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="paginatorEvent($event)"
                     *ngIf="!loading">
      </mat-paginator>
  </div>
</div>
