<div class="graph-area" *ngIf="loading && !noDatas">
  <mat-spinner></mat-spinner>
</div>
<div class="graph-area" *ngIf="!loading && noDatas">
  <span style="color: black">Pas de données exploitables :(</span>
</div>
<div class="options" *ngIf="!loading && !noDatas && allNodes && allNodes.length > nodesWithLinks.length">
  <mat-slide-toggle [(ngModel)]="showFlowless" (click)="changeVision()" color="primary">
    Flowless Applications
  </mat-slide-toggle>
</div>
<div class="graph-area" *ngIf="!loading && !noDatas">
  <ngx-graph
    class="chart-container"
    [links]="hierarchialGraph.links"
    [nodes]="hierarchialGraph.nodes"
    [legend]="false"
    [curve]="curve"
    [draggingEnabled]="false"
    [autoCenter]="true"
    [autoZoom]="true"
    [scheme]="{domain: [
      '#4e31a5', '#9c25a7', '#3065ab', '#57468b', '#904497', '#46648b',
      '#32118d', '#a00fb3', '#1052a2', '#6e51bd', '#b63cc3', '#6c97cb', '#8671c1', '#b455be', '#7496c3'
    ]
  }"
  >

    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
      </svg:marker>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node"
             ngx-tooltip
             [tooltipPlacement]="'top'"
             [tooltipType]="'tooltip'"
             [tooltipTitle]="node.position"
      >
        <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color"/>
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path
          class="line"
          stroke-width="2"
          marker-end="url(#arrow)">
        </svg:path>
        <svg:text
          class="edge-label"
          text-anchor="middle">
          <textPath
            style="fill: #666;"
            [attr.href]="'#' + link.id"
            startOffset="60%">
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>

